<div class="user-selection-container">
  <h2> {{ loggedInUser
    ? 'Welcome, ' + loggedInUser.name + '!'
    : 'Chose a person you want to log in for:'}}
  </h2>

  <app-user-list
    [selectedUser]="loggedInUser"
    [users]="allUsers"
    (userSelected)="onUserSelect($event)"
  >
  </app-user-list>
</div>

<div class="main-container">
  <ng-container *ngIf="loggedInUser">
    <div class="user-profile">
      <ng-container *ngIf="viewedUser; else noUsersLeft">
        <h3>
          {{ viewedUser.name }}, {{ viewedUser.age }}
        </h3>
        <div class="picture-container" [ngStyle]="{ 'background-image': 'url(' + viewedUser.imageUrl + ')' }"></div>
      </ng-container>
      <ng-template #noUsersLeft>
        <div class="no-users">
          No users left...
        </div>
      </ng-template>
    </div>

    <div class="actions">
      <button
        mat-fab
        id="like-btn"
        color="accent"
        [disabled]="!viewedUser || isMatch"
        (click)="onLikeClick(viewedUser.id)"
      >
        Like
      </button>
      <ng-container *ngIf="isMatch">
        Match!!
      </ng-container>
      <button
        *ngIf="!isMatch; else okayButton"
        id="dislike-btn"
        mat-fab
        color="warn"
        [disabled]="!viewedUser"
        (click)="onDislikeClick()"
      >
        Dislike
      </button>

      <ng-template #okayButton>
        <button mat-fab color="primary" (click)="onOkayCick()">
          Okay
        </button>
      </ng-template>
    </div>
  </ng-container>
</div>
